@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
body {
  font-family: 'Moul', cursive;
}
.meeting-screen {
  background-image: url('/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  .meeting-detail {
    height: 100vh;
    .left {
      background: #297fb9b2;
      padding: 0;
      height: 100%;
      .header {
        width: 100%;
        height: 10%;
        border-bottom: 1px solid rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          height: 100%;
          img {
            height: 100%;
            padding: 1%;
          }
        }
        .date {
          p {
            color: white;
            padding: 5px;
            margin: 0;
            font-family: 'Moul', cursive;
            font-size: 15px;
          }
        }
      }
    }
    .right {
      background: rgba(0, 0, 0, 0.479);
      padding: 0;
      .right-detail {
        height: 100%;
        .des_schedule {
          position: relative;
          top: 10%;
          .transparant {
            background-color: rgba(241, 237, 237, 0.815) !important;
          }
        }
      }
    }
  }
}

.swiper-container {
  height: 90vh;
}
